* {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

header,
main {
    width: 600px;
    margin: auto;
}


nav{
    margin-bottom: 20px;
    color: white;
}
nav>ul{
    background-color: darkslategray;
}

nav>ul::after{
    content: '';
    display: block;
    clear: both;
}

nav>ul>li {
    float: left;
    line-height: 40px;
    width: 25%;
    position: relative;
}

nav li{
    box-sizing: border-box;
    padding: 0 20px;
}

nav ul ul{
    background-color: cadetblue;
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}
nav ul ul li {
    font-size: .7em;
}

nav>ul>li:hover ul{
    display: block;
}
main p {
    text-align: justify;
    word-break: break-all;
}